{% extends 'app/base.html' %}
{% load static %}
{% block title %}home{% endblock title %}
{% block banner_slider %}
<div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item ">
      <img src="{% static 'app/images/vote6.jpg' %}" style="width: 90%;height: 40rem;" class="d-block m-auto" alt="...">
    </div>
    <div class="carousel-item ">
      <img src="{% static 'app/images/vote1.webp' %}" style="width: 90%;height: 30rem;" class="d-block m-auto" alt="...">
    </div>
    <div class="carousel-item active">
      <img src="{% static 'app/images/vote5.jpg' %}" style="width: 90%;height: 40rem;" class="d-block m-auto" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon text-dark" style="filter: invert(1);" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" style="filter: invert(1);" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
{% endblock banner_slider %}

{% block main-content %}
<div class="card text-center" style="margin-top: 60px; height: 250px;  background-color:rgb(159, 177, 177);">
  <!-- <div class="card-header">
    <ul class="nav nav-pills card-header-pills">
      <li class="nav-item">
        <a class="nav-link active" href="#">Active</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" aria-disabled="true">Disabled</a>
      </li>
    </ul>
  </div> -->
  <div class="card-body">
    <h5 class="card-title" style="font-size:90px; width:auto;" >VOTE NOW</h5>
    <a href="{% url 'login' %}" class="btn btn-success btn-lg mt-4">Click Here For vote</a>
  </div>
</div>
{% endblock main-content %}
{% block review %}
<h1 style="margin-top:30px; text-align: center; font-size: 70px; color:rgb(157, 72, 72); font-style: italic; "> Public Review</h1>
<div class="row row-cols-1 row-cols-md-2 mt-3 g-4">
  <div class="col">
    <div class="card" style="background-color:rgb(221, 211, 67);">
      <img src="{% static 'app/images/pic4.jpg' %}" style="height:100px; width:180px" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title" style="font-size: 30px;">Aman Kumar</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card" style="background-color:rgb(209, 32, 188);">
      <img src="{% static 'app/images/pic4.jpg' %}"style="height:100px; width:180px" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title" style="font-size: 30px;">Kamna Singh</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card" style="background-color:rgb(67, 221, 144);">
      <img src="{% static 'app/images/pic4.jpg' %}" style="height:100px; width:180px" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title" style="font-size: 30px;" >Bhola Pandit</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card" style="background-color:rgb(221, 118, 67);">
      <img src="{% static 'app/images/pic4.jpg' %}" style="height:100px; width:180px" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title " style="font-size: 30px;">Papu  jhaatu Yadav</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
  </div>
</div>
 {% endblock review %}